<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Telegram bot token-->
    <add key="BotToken" value="sampletoken" />
    <!--Deployment DB connection string:-->
    <add key="DBConnStr" value="Data Source=sample; Initial Catalog=samplebase; Integrated Security=samplebool" />
    <!--B2B DB connection string(not used now)-->
    <add key="B2BConnStr" value="Data Source=sample; Initial Catalog=samplebase; Integrated Security=samplebool" />
    <!--List of emails to get errors info-->
    <add key="AdministrativeAddresses" value="sample@sample.sample;sample2@jjj.ru" />
    <!--Format of packages archiver(7Zip/Zip)-->
    <add key="ArchiveFormat" value="sample" />
    <!--Outcoming emails SMTP server-->
    <add key="SMTPServer" value="sample" />
    <!--Outcoming emails address:-->
    <add key="From" value="sample@sample.sample" />
    <!--Monik connection string-->
    <add key="EndPoint" value="sample" />
    <!--Build mode(dev/staging/etc.)-->
    <add key="InstanceName" value="sample" />
    <!--Token validation parameters-->
    <add key="Token_Audience" value="sample" />
    <add key="Token_Issuer" value="sample" />
    <add key="Token_Alg" value="HS256" />
    <add key="Token_Secret" value="sample" />
    <add key="Permissions_Edit" value="http://schemas.microsoft.com/ws/2008/06/identity/claims/role:sample" />
    <add key="Permissions_View" value="http://schemas.microsoft.com/ws/2008/06/identity/claims/role:sample" />
    <add key="Permissions_StopRun" value="http://schemas.microsoft.com/ws/2008/06/identity/claims/role:sample" />
    <!--Proxy server parameters(only http now))-->
    <add key="ProxyUriAddr" value="http://sample.sample:sample/" />
    <add key="ProxyLogin" value="sample" />
    <add key="ProxyPassword" value="sample1234" />   
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>