<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--адрес почты, с которой идёт рассылка:-->
    <add key="from" value="sample@sample.sample" />
    <!--строка подключения для моника:-->
    <add key="monikendpoint" value="sample" />
    <!--текущее состояние программы(dev/prod/...):-->
    <add key="InstanceName" value="sample" />
    <!--SMTP сервер для отправки почты:-->
    <add key="SMTPServer" value="sample" />
    <!--строка подключения к основной базе данных:-->
    <add key="DBConnStr" value="Data Source=sample; Initial Catalog=samplebase; Integrated Security=samplebool" />
    <!--токен бота в телеграм-->
    <add key="BotToken" value="sampletoken" />
    <!--Uri прокси-сервера(на данный момент поддержка только http)-->
    <add key="proxyUriAddr" value="http://sample.sample:sample/" />
    <!--логин для прокси-сервера-->
    <add key="proxyLogin" value="sample" />
    <!--пароль для прокси-сервера-->
    <add key="proxyPassword" value="sample1234" />
    <!--список адресов для отправки сообщений об ошибках в выполняемых задачах-->
    <add key="administrativeaddress" value="sample@sample.sample;sample2@jjj.ru" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>