<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net461" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net461" />
  <package id="Gerakul.FastSql" version="1.0.2" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.1.0" targetFramework="net461" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net461" />
  <package id="Monik.Client.Azure" version="1.0.19" targetFramework="net461" />
  <package id="Nancy" version="1.4.4" targetFramework="net461" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net461" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net461" />
  <package id="SevenZipSharp.Interop" version="9.38.3" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.3.1" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="3.4.1" targetFramework="net461" />
</packages>