<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.2" targetFramework="net462" />
  <package id="AutoMapper" version="8.0.0" targetFramework="net462" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net462" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net462" />
  <package id="Domain0.Auth.Nancy" version="1.0.10" targetFramework="net462" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net462" />
  <package id="Fody" version="4.2.1" targetFramework="net462" developmentDependency="true" />
  <package id="Gerakul.FastSql.Common" version="1.0.0" targetFramework="net462" />
  <package id="Gerakul.FastSql.SqlServer" version="1.0.0" targetFramework="net462" />
  <package id="Gerakul.ProtoBufSerializer" version="1.2.1" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net462" />
  <package id="Google.Protobuf.Tools" version="3.7.0" targetFramework="net462" />
  <package id="jose-jwt" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Authentication" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Authentication.JwtBearer" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Authorization" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.DataProtection" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.WebEncoders" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="4.5.1" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net462" />
  <package id="Monik.Client.Azure" version="1.0.24" targetFramework="net462" />
  <package id="Nancy" version="1.4.5" targetFramework="net462" />
  <package id="Nancy.Authentication.Basic" version="1.4.1" targetFramework="net462" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net462" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.4.1" targetFramework="net462" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net462" />
  <package id="Nancy.Metadata.Modules" version="1.4.1" targetFramework="net462" />
  <package id="Nancy.Swagger" version="2.1.1-alpha" targetFramework="net462" />
  <package id="NCrontab" version="3.3.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net462" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net461" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net462" />
  <package id="Squid-Box.SevenZipSharp" version="1.1.136" targetFramework="net462" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net462" />
  <package id="Swagger.ObjectModel" version="2.2.53-alpha" targetFramework="net462" />
  <package id="Swagger.ObjectModel.JsonNET" version="1.0.15-alpha" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net462" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Telegram.Bot" version="14.10.0" targetFramework="net461" />
  <package id="Topshelf" version="4.2.0" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="5.2.0" targetFramework="net462" />
</packages>